In [240]:
import pandas as pd

df = pd.read_csv('insurance.csv')

df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [241]:
df.shape

(1338, 7)

In [242]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [243]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [244]:
df = df.dropna()

In [245]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [246]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [247]:
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [248]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1333    False
1334    False
1335    False
1336    False
1337    False
Length: 1338, dtype: bool

In [249]:
df['smoker'].value_counts()

smoker
no     1064
yes     274
Name: count, dtype: int64

In [250]:
df['region'].value_counts()

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

In [251]:
df_edited = df.groupby('smoker').filter(lambda x : len(x)>4)
df_edited.info()
df_edited['smoker'].value_counts()

<class 'pandas.core.frame.DataFrame'>
Index: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 83.6+ KB

smoker
no     1064
yes     274
Name: count, dtype: int64

In [252]:
df_edited['smoker'] = df_edited['smoker'].astype('category')

In [253]:
df_edited['smoker Encoded'] = df_edited['smoker'].cat.codes
df_edited.head()

,age,sex,bmi,children,smoker,region,charges,smoker Encoded
0,19,female,27.900,0,yes,southwest,16884.92400,1
1,18,male,33.770,1,no,southeast,1725.55230,0
2,28,male,33.000,3,no,southeast,4449.46200,0
3,33,male,22.705,0,no,northwest,21984.47061,0
4,32,male,28.880,0,no,northwest,3866.85520,0

In [254]:
df_edited.dtypes

age                  int64
sex                 object
bmi                float64
children             int64
smoker            category
region              object
charges            float64
smoker Encoded        int8
dtype: object

In [255]:
df_edited['region'] = df_edited['region'].astype('category')

In [256]:
df_edited.dtypes

age                  int64
sex                 object
bmi                float64
children             int64
smoker            category
region            category
charges            float64
smoker Encoded        int8
dtype: object

In [257]:
df_edited['region Encoded'] = df_edited['region'].cat.codes
df_edited.head()

,age,sex,bmi,children,smoker,region,charges,smoker Encoded,region Encoded
0,19,female,27.900,0,yes,southwest,16884.92400,1,3
1,18,male,33.770,1,no,southeast,1725.55230,0,2
2,28,male,33.000,3,no,southeast,4449.46200,0,2
3,33,male,22.705,0,no,northwest,21984.47061,0,1
4,32,male,28.880,0,no,northwest,3866.85520,0,1

In [258]:
df_edited['sex'] = df_edited['sex'].astype('category')

In [259]:
df_edited['sex Encoded'] = df_edited['sex'].cat.codes
df_edited.head()

,age,sex,bmi,children,smoker,region,charges,smoker Encoded,region Encoded,sex Encoded
0,19,female,27.900,0,yes,southwest,16884.92400,1,3,0
1,18,male,33.770,1,no,southeast,1725.55230,0,2,1
2,28,male,33.000,3,no,southeast,4449.46200,0,2,1
3,33,male,22.705,0,no,northwest,21984.47061,0,1,1
4,32,male,28.880,0,no,northwest,3866.85520,0,1,1

In [260]:
df_final = df_edited.drop(['sex', 'region', 'smoker'], axis=1)
df_final.head()

,age,bmi,children,charges,smoker Encoded,region Encoded,sex Encoded
0,19,27.900,0,16884.92400,1,3,0
1,18,33.770,1,1725.55230,0,2,1
2,28,33.000,3,4449.46200,0,2,1
3,33,22.705,0,21984.47061,0,1,1
4,32,28.880,0,3866.85520,0,1,1

In [261]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             1338 non-null   int64
 1   bmi             1338 non-null   float64
 2   children        1338 non-null   int64
 3   charges         1338 non-null   float64
 4   smoker Encoded  1338 non-null   int8
 5   region Encoded  1338 non-null   int8
 6   sex Encoded     1338 non-null   int8
dtypes: float64(2), int64(2), int8(3)
memory usage: 56.2 KB

In [262]:
import numpy as np
import pickle
import sklearn

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [263]:
X = df_final.iloc[:,[0,1,3,4,5]]
y = df_final.iloc[:,2]

In [264]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [265]:
X_train.head()

      age     bmi      charges  smoker Encoded  region Encoded
319    32  37.335   4667.60765               0               0
1332   52  44.700  11411.68500               0               3
218    26  29.920   3392.97680               0               2
985    44  25.800   7624.63000               0               3
742    53  34.105  43254.41795               1               0

In [266]:
y_train.head()

319     1
1332    3
218     1
985     1
742     0
Name: children, dtype: int64

In [267]:
reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [268]:
y_pred = reg.predict(X_test)

In [269]:
err = np.sqrt(mean_squared_error(y_test, y_pred))

In [270]:
y_pred, y_test

(array([0.93866749, 1.01300264, 1.06453297, 1.21620904, 1.02692529,
        0.95254355, 1.12561617, 1.23988419, 0.95596541, 1.18267289,
        1.12918629, 1.10545142, 1.17279487, 1.46733933, 1.06537189,
        0.90566041, 0.94749478, 1.16158994, 1.06451348, 1.13014436,
        1.14689952, 1.07067249, 1.32623289, 1.12489469, 1.55661526,
        1.27393651, 0.90261969, 0.94568503, 1.2695323 , 1.17864298,
        0.90433521, 1.03414819, 1.1594669 , 1.23236222, 0.88340728,
        1.04519308, 1.17461902, 0.86114018, 1.12311783, 1.06539166,
        1.32604191, 0.91466168, 1.51225816, 1.2274629 , 1.08640973,
        1.00740878, 1.05069767, 1.30253765, 0.85808153, 1.03068235,
        1.0106032 , 0.97694654, 1.11760434, 1.0380576 , 1.06706074,
        1.01377816, 0.95843357, 1.65147331, 1.23765511, 1.31444429,
        1.04810786, 1.13656542, 1.04863363, 1.10399705, 0.80678587,
        1.00338962, 0.91277076, 1.00296554, 0.94395159, 1.03083128,
        0.91933574, 1.01102714, 1.11459015, 1.02027148, 0.9577723 ,
        1.0033188 , 1.06433053, 1.04148459, 1.33261939, 1.06883232,
        0.96013268, 1.07453759, 0.96412367, 1.17688592, 1.06034229,
        1.11256106, 1.15228636, 0.89459311, 1.25892799, 1.02719454,
        1.31986493, 1.03863673, 0.94469792, 1.11312958, 0.99138569,
        1.22789133, 1.26520521, 1.0319575 , 0.98262736, 1.06305323,
        0.93118889, 1.04252472, 1.07273497, 1.03868669, 0.90688127,
        0.98473075, 1.03677789, 1.22777209, 1.05263283, 1.10971014,
        0.79259118, 1.39823089, 0.96504216, 1.35798104, 1.05668875,
        0.82890857, 0.97697978, 1.10193507, 1.70439122, 1.0920127 ,
        1.06023557, 1.28657434, 1.05702193, 1.04690349, 1.12768317,
        1.13937449, 0.94421365, 1.02399306, 1.09038845, 1.02911841,
        1.26449417, 1.15647315, 1.02247007, 0.82178194, 1.22961687,
        1.09625055, 1.03311678, 1.07305442, 1.53086989, 1.00291735,
        0.86768373, 1.18260144, 0.99314804, 1.2600452 , 1.0690438 ,
        1.2273547 , 1.3707455 , 1.01815135, 1.04253749, 0.99231758,
        1.51908171, 0.98005468, 1.04996799, 1.00291639, 1.04848428,
        1.10501944, 1.36350458, 1.01886129, 1.10484205, 0.96745676,
        1.29222046, 0.9261329 , 1.07879448, 1.04723177, 0.90210877,
        1.03302057, 1.00125711, 1.12200102, 0.97073106, 1.05722057,
        0.96691523, 1.09307563, 1.05846997, 0.90122153, 1.31075842,
        1.1286238 , 1.09683341, 1.14513082, 1.1718445 , 1.23941337,
        1.06564026, 1.22833984, 1.28642758, 1.05563782, 1.05365869,
        1.21033463, 1.05558901, 0.96116234, 1.12029427, 1.1075864 ,
        0.98383734, 1.03979781, 1.03260999, 1.06627291, 1.05819631,
        1.03848089, 0.94367052, 1.31951336, 1.23552632, 1.17689831,
        0.95009346, 1.09110147, 1.1528161 , 1.04846189, 0.94274523,
        1.06830861, 0.98040642, 1.07645114, 1.51211855, 1.13654527,
        1.00737415, 1.20105314, 0.92464885, 1.1152208 , 1.04577404,
        1.29863438, 1.00837398, 1.37402809, 0.86604204, 1.00553134,
        1.40127386, 1.00044941, 1.37236067, 1.25631062, 1.03276266,
        1.12649043, 1.20084277, 1.36846608, 1.12074823, 1.02876856,
        1.02204268, 0.90878474, 1.15882175, 1.0312796 , 0.93329485,
        0.97334233, 1.1556109 , 1.16939557, 1.06479684, 0.98136538,
        1.19088383, 0.99328602, 0.97162259, 1.03175722, 1.18979397,
        1.09654895, 0.82379631, 1.04979574, 1.0631624 , 0.99960412,
        1.04468335, 1.09337043, 1.2702395 , 1.09498387, 1.05311725,
        1.21625517, 1.20315375, 1.23089956, 0.9665094 , 1.07471971,
        1.39130445, 0.90963641, 0.97174925, 0.98646448, 1.46402042,
        1.12723803, 1.16241877, 0.94401413]),
 81      0
 385     0
 1325    0
 407     1
 502     1
        ..
 1217    2
 1284    1
 659     4
 861     3
 662     1
 Name: children, Length: 268, dtype: int64)

In [271]:
err

np.float64(1.2618628801132035)

In [272]:
print(pd.DataFrame(zip(X.columns, reg.coef_)))
print(reg.intercept_)

                0         1
0             age -0.000690
1             bmi -0.007498
2         charges  0.000019
3  smoker Encoded -0.403106
4  region Encoded  0.052351
1.10245331861485

In [273]:
pickle.dump(reg, open('model.pkl', 'wb'))